{% extends 'manage/manage_commande.html' %}

{% block spec %}
        {% for cmd in cmds %}
            <tr id="main-info-{{ cmd.cmd_id }}">
                    <script>
                        var today = new Date();
                        var heure = today.getTime();
                        var dixminutesavant = new Date(heure - 10*60*1000);
                        var vingtminutesavant = new Date(heure - 20*60*1000);
                        var d = dixminutesavant.toLocaleTimeString();
                        var e = vingtminutesavant.toLocaleTimeString();
                        var c= "{{cmd.cmd_date.time()}}";
                        if (c<d) {
                          document.getElementById("main-info-{{ cmd.cmd_id }}").style.backgroundColor = '#FFE300';
                        }
                        if (c<e) {
                        document.getElementById("main-info-{{ cmd.cmd_id }}").style.backgroundColor = '#FF0000';
                        }
                     </script>
                <th class="cmd-id" scope="row">{{ cmd.cmd_id }}</th>
                <td>{{ cmd.id_fb }}</td>
                {% if cmd.lieu.name == 'MEUH' %}
                <td>{{ cmd.appart }}</td>
                {% else %}
                <td>{{ cmd.adress }}</td>
                {% endif %}
                <td class="status">{{ cmd.status.name }}</td>
                <td>{{ cmd.cmd_date.time().strftime("%Hh%M") }}</td>
            </tr>
            <tr>
                <th colspan="2">Pâte à tartiner:</th>
                <th>Confiture:</th>
                <th colspan="2">Sucre:</th>
            </tr>
            <tr>
                <th colspan="2">{{ cmd.crepe.crepe_nut }}</th>
                <th>{{ cmd.crepe.crepe_con }}</th>
                <th colspan="2">{{ cmd.crepe.crepe_suc }}</th>
            </tr>
            {% if cmd.com != '' %}
            <tr>
                <th>com:</th>
                <th colspan="4">{{ cmd.com }}</th>
            </tr>
            {% endif %}
            <tr>
                <th id="{{ cmd.cmd_id }}" colspan="5">
                    {% if not cmd.allo.est_gratuit %}
                    <button onclick="updateStatus(this, 'PAYE')">Payé</button>
                    {% endif %}
                    <button onclick="updateStatus(this, 'PREPARATION')">Préparation</button>
                    <button onclick="updateStatus(this, 'LIVRAISON')">Livraison</button>
                    <button onclick="updateStatus(this, 'LIVRE')">Livré</button>
                </th>
            </tr>
            <tr>
                <th colspan="5"></th>
            </tr>
    {% else %}
            <tr>
                <th colspan="5">Il n'y a pas de commande pour ce allo !</th>
            </tr>
    {% endfor %}
{% endblock %}
