{% extends 'manage/manage_commande.html' %}

{% block spec %}
        {% for cmd in cmds %}
            <tr id="main-info-{{ cmd.cmd_id }}">
                <th class="cmd-id" scope="row">{{ cmd.cmd_id }}</th>
                <td>{{ cmd.id_fb }}</td>
                {% if cmd.lieu.name == 'MEUH' %}
                <td>{{ cmd.appart }}</td>
                {% else %}
                <td>{{ cmd.adress }}</td>
                {% endif %}
                <td class="status">{{ cmd.status.name }}</td>
                <td>{{ cmd.cmd_date.time().strftime("%Hh%M") }}</td>
            </tr>
            {% if cmd.com != '' %}
            <tr>
                <th>com:</th>
                <th colspan="4">{{ cmd.com }}</th>
            </tr>
            {% endif %}
            <tr>
                <th>Commande :</th>
                <th colspan="4">
                    <textarea class="form-control" id="commande" name="commande" maxlength="1000" rows="2" disabled>{{ cmd.fastfood.fastfood_commande }}</textarea>
                </th>
            </tr>
            <tr>
                <th id="{{ cmd.cmd_id }}" colspan="5">
                    {% if not cmd.allo.est_gratuit %}
                    <button onclick="updateStatus(this, 'PAYE')">Payé</button>
                    {% endif %}
                    <button onclick="updateStatus(this, 'PREPARATION')">Préparation</button>
                    <button onclick="updateStatus(this, 'LIVRAISON')">Livraison</button>
                    <button onclick="updateStatus(this, 'LIVRE')">Livré</button>
                </th>
            </tr>
            <tr>
                <th colspan="5"></th>
            </tr>
    {% else %}
            <tr>
                <th colspan="5">Il n'y a pas de commande pour ce allo !</th>
            </tr>
    {% endfor %}
{% endblock %}