{% extends 'base.html' %}

{% block body %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Facebook</th>
                <th scope="col">Adresse</th>
                <th scope="col">Status</th>
                <th scope="col">Heure</th>
            </tr>
        </thead>
        <tbody>
    {% for cmd in cmds %}
            <tr>
                <th scope="row">{{ cmd.cmd_id }}</th>
                <td>{{ cmd.id_fb }}</td>
                {% if cmd.lieu.name == 'MEUH' %}
                <td>{{ cmd.appart }}</td>
                {% else %}
                <td>{{ cmd.adress }}</td>
                {% endif %}
                <td>{{ cmd.status.name }}</td>
            </tr>
            {% if cmd.com != '' %}
            <tr>
                <th>spec :</th>
                <th colspan="4">{{ cmd.com }}</th>
            </tr>
            {% endif %}
            <tr>
                <th colspan="5">
                    {% if not allo.est_gratuit %}
                    <button>Payé</button>
                    {% endif %} 
                    <button>Préparation</button>
                    <button>Livraison</button>
                    <button>Livré</button>
                </th>
            </tr>
    {% else %}
            <tr>
                <th colspan="4">Il n'y a pas de commande pour ce allo !</th>
            </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}