{% extends 'base.html' %}

{% block nav %}
        <div class="w3-top">
            <div class="w3-bar w3-green w3-card">
                <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
                <a href="{{ url_for('index_manage') }}" class="w3-bar-item w3-button w3-padding-large">RETOUR</a>
                <a href="{{ url_for('manage', allo_id=allo.allo_id) }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small {% if section == 'GLOBAL' %}highlight{% endif %}">TOUTES LES COMMANDES</a>
                <a href="{{ url_for('manage_meuh', allo_id=allo.allo_id) }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small {% if section == 'MEUH' %}highlight{% endif %}">COMMANDES A LA MEUH</a>
                <a href="{{ url_for('manage_exte', allo_id=allo.allo_id) }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small {% if section == 'EXTE' %}highlight{% endif %}">COMMANDES EN EXTE</a>
                <a href="{{ url_for('manage_livre', allo_id=allo.allo_id) }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small {% if section == 'LIVRE' %}highlight{% endif %}">COMMANDES LIVRE</a>
            </div>
        </div>

        <!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
        <div id="navDemo" class="w3-bar-block w3-green w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
            <a href="{{ url_for('manage', allo_id=allo.allo_id) }}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">TOUTES LES COMMANDES</a>
            <a href="{{ url_for('manage_meuh', allo_id=allo.allo_id) }}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">COMMANDES A LA MEUH</a>
            <a href="{{ url_for('manage_exte', allo_id=allo.allo_id) }}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">COMMANDES EN EXTE</a>
            <a href="{{ url_for('manage_livre', allo_id=allo.allo_id) }}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">COMMANDES LIVRE</a>
        </div>
{% endblock %}

{% block body %}
    <h1>{{ allo.allo_nom }} -
    {% if section == 'GLOBAL' %}
        Toutes les commandes
    {% elif section == 'MEUH' %}
        Commandes de la meuh
    {% elif section == 'EXTE' %}
        Commandes en exte
    {% elif section == 'LIVRE' %}
        Commandes livrés
    {% endif %}
    </h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Facebook <br> n° tel</th>
                <th scope="col">Adresse</th>
                <th scope="col">Status</th>
                <th scope="col">Heure</th>
            </tr>
        </thead>
        <tbody id="updContent">
{% block spec %}
    {% for cmd in cmds %}
            <tr id="main-info-{{ cmd.cmd_id }}" class="main-info">
                <input type="hidden" class="time" value="{{ cmd.cmd_date.time() }}">
                <th class="cmd-id" scope="row">{{ cmd.cmd_id }}</th>
                <td>{{ cmd.id_fb }}</td>
                {% if cmd.lieu.name == 'MEUH' %}
                <td>{{ cmd.appart }}</td>
                {% else %}
                <td>{{ cmd.adress }}</td>
                {% endif %}
                <td class="status">{{ cmd.status.name }}</td>
                <td>{{ cmd.cmd_date.time().strftime("%Hh%M") }}</td>
            </tr>
            {% if cmd.com != '' %}
            <tr>
                <th>com:</th>
                <th colspan="4">{{ cmd.com }}</th>
            </tr>
            {% endif %}
            <tr>
                <th id="{{ cmd.cmd_id }}" colspan="5">
                    {% if not cmd.allo.est_gratuit %}
                    <button onclick="updateStatus(this, 'PAYE')">Payé</button>
                    {% endif %} 
                    <button onclick="updateStatus(this, 'PREPARATION')">Préparation</button>
                    <button onclick="updateStatus(this, 'LIVRAISON')">Livraison</button>
                    <button onclick="updateStatus(this, 'LIVRE')">Livré</button>
                </th>
            </tr>
            <tr>
                <th colspan="5"></th>
            </tr>
    {% else %}
            <tr>
                <th colspan="5">Il n'y a pas de commande pour ce allo !</th>
            </tr>
    {% endfor %}
{% endblock %}
        </tbody>
    </table>
{% endblock %}

{% block script %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/suivi.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/manage.js') }}"></script>
{% endblock %}
