{% extends 'base.html' %}

{% block pagename %}Allôs{% endblock %}
{% block head %}
        {{ super() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/allos.css') }}">
{% endblock %}


{% block body %}
        <h2 class="w3-wide">ALLÔ LA GAELISTE</h2>
        <h5 class="w3-opacity"><i>Choisi ton allô à la gaeliste !</i></h5>
        <a href="{{ url_for('allo_groupe', group_id=1) }}" class="btn btn-lg btn-block btn-huge w3-green allo-mt">Allôs ravitaillement</a>
        <a href="{{ url_for('allo_groupe', group_id=2) }}" class="btn btn-lg btn-block btn-huge w3-green allo-mt">Allôs services</a>
        <a href="{{ url_for('allo_groupe', group_id=3) }}" class="btn btn-lg btn-block btn-huge w3-green allo-mt">Allôs festifs</a>
        <a href="{{ url_for('allo_groupe', group_id=4) }}" class="btn btn-lg btn-block btn-huge w3-green allo-mt">Allôs jeux</a>
        <a href="{{ url_for('allo_groupe', group_id=5) }}" class="btn btn-lg btn-block btn-huge w3-green allo-mt">Allôs enigmatiques</a>
{% endblock %}