{% extends 'base.html' %}

{% block body %}
        <h2 class="w3-wide">ALLÔ LA TERRE ICI MA LUNE</h2>
        <form class="allo-form w3-green" action="" method="post">
            <div class="row">
                <div class="col">
                    <label for="id-fb">Nom facebook :</label>
                    <input type="text" class="form-control" id="id-fb" name="id_fb" placeholder="Nom Prénom">
                </div>
                <div class="col">
                    <label for="appart">N° Appartement :</label>
                    <input type="text" class="form-control" id="appart" name="appart" placeholder="Y16">
                </div>
            </div>
            <div class="row">
                <div class="col text-right">
                    <button type="submit" class="btn-commander btn btn-primary">Commander</button>
                </div>
            </div>
        </form>
{% endblock %}