{% extends 'base.html' %}

{% block pagename %}Allôs{% endblock %}
{% block head %}
        {{ super() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/allos.css') }}">
{% endblock %}


{% block body %}
        <h2 class="w3-wide">ALLÔ LA GAELISTE</h2>
        <h3 id="display-msg">En raison de l’amphi présentation de la Cycliste, vous ne serez pas livrés entre 18h30 et 20h</h3>
        <h5 class="w3-opacity"><i>{{ group_name }}</i></h5>
    {% for allo in allos %}
      {% if est_dispo(allo) %}
          <a href="{{ url_for('allo_cmd', allo_id=allo.allo_id) }}" class="btn btn-lg btn-block btn-huge w3-green allo-mt">{{ allo.allo_nom }}<br>{{ allo.allo_debut.strftime("%Hh%M") }} - {{ allo.allo_fin.strftime("%Hh%M") }}</a>
      {% else %}
          <a href="" class="btn btn-lg btn-block btn-huge w3-green allo-mt disabled">{{ allo.allo_nom }}<br>{{ allo.allo_debut.strftime("%Hh%M") }} - {{ allo.allo_fin.strftime("%Hh%M") }}</a>
      {% endif %}
    {% endfor %}
{% endblock %}