{% extends 'allos/allocmdspecexte.html' %}

{% block body %}
        <h2 class="w3-wide">{{ allo.allo_nom }}</h2>
        <form class="allo-form w3-green" action="" method="post">
        <div id="spec">
            <div class="form-outline">
                <label class="form-label" for="pate">Crêpe à la pâte à tartiner au chocolat</label>
                <input type="number" id="pate" name="pate" value="0" class="form-control" min="0" />
            </div>
            <input type="hidden" id="confiture" name="confiture" value="0"/>
            <div class="form-outline">
                <label class="form-label" for="sucre">Crêpe au sucre</label>
                <input type="number" id="sucre" name="sucre" value="0" class="form-control" min="0" />
            </div>
            <div class="form-outline">
                <label class="form-label" for="fromage">Crêpe au fromage</label>
                <input type="number" id="fromage" name="fromage" value="0" class="form-control" min="0" />
            </div>
            <div class="form-outline">
                <label class="form-label" for="jambon">Crêpe au jambon et fromage</label>
                <input type="number" id="jambon" name="jambon" value="0" class="form-control" min="0" />
            </div>
            <div class="form-outline">
                <label class="form-label" for="nature">Crêpe nature</label>
                <input type="number" id="nature" name="nature" value="0" class="form-control" min="0" />
            </div>
            <div class="row">
                <div class="col text-right">
                    <div onclick="continuer()" class="btn-commander btn btn-primary">Continuer</div>
                </div>
            </div>
        </div>
        {{ super() }}
{% endblock %}