{% extends 'allos/allocmdspecexte.html' %}

{% block body %}
            <h2 class="w3-wide">{{ allo.allo_nom }}</h2>
            <form class="allo-form w3-green" action="" method="post">
            <div id="spec">
            <div class="form-group">
                <label for="commande">Ecris nous ci-dessous ta commande dans un fast-food d'Alès (Oublie pas de le préciser dans le message) :</label>
                <textarea class="form-control" id="commande" name="commande" maxlength="1000" rows="2" required></textarea>
            </div>
            <div class="form-group">
                <label for="prix">Prix de ta commande (Toute différence sera déduite ou remboursé)</label>
                <input type="number" min="0" step="0.01" placeholder="9.95" id="prix" name="prix" required>
            </div>
            <div class="row">
                <div class="col text-right">
                    <div onclick="continuer()" class="btn-commander btn btn-primary">Continuer</div>
                </div>
            </div>
            </div>
            {{ super() }}
{% endblock %}