{% extends 'suivi.html' %}

{% block body %}
            <div id="updContent">
            <h2 class="w3-wide">SUIVI DE COMMANDE</h2>
            <h4 class="w3-wide">Ta commande est {{ cmd.status.value }} !</h4>
            <h6 class="w3-wide">Recapitulatif commande {{ cmd.allo.allo_nom }} :</h6>
            <p>
                Rendez-vous à {{ cmd.covoit.covoit_heure }}<br>
                Départ : {{ cmd.covoit.covoit_depart }}<br>
                Arrivée : {{ cmd.covoit.covoit_destination }}<br>
                Nom Prénom sur Facebook : {{ cmd.id_fb }}
                <br>
                {% if cmd.com != '' %}
                Spécification :<br>
                {{ cmd.com }}
                {% endif %}
            </p>
            </div>
{% endblock %}