{% extends 'suivi.html' %}

{% block data %}
    {% if cmd.crepe.crepe_nut > 0 %}
        Nombre de crêpes à la pate a tartiner: {{ cmd.crepe.crepe_nut }} <br>
    {% endif %}
    {% if cmd.crepe.crepe_con > 0 %}
        Nombre de crêpes à la confiture: {{ cmd.crepe.crepe_con }} <br>
    {% endif %}
    {% if cmd.crepe.crepe_suc > 0 %}
        Nombre de crêpes au sucre: {{ cmd.crepe.crepe_suc }} <br>
    {% endif %}
    {% if cmd.crepe.crepe_nat > 0 %}
        Nombre de crêpes nature: {{ cmd.crepe.crepe_nat }} <br>
    {% endif %}
    {% if cmd.crepe.crepe_fromage > 0 %}
        Nombre de crêpes au fromage: {{ cmd.crepe.crepe_fromage }} <br>
    {% endif %}
    {% if cmd.crepe.crepe_jambon > 0 %}
        Nombre de crêpes au jambon et fromage: {{ cmd.crepe.crepe_jambon }} <br>
    {% endif %}
{% endblock %}