{% extends 'refresh/suivi.html' %}

{% block data %}
    {% if cmd.crepe.crepe_nut > 0 %}
        Nombre de crêpes à la pate a tartiner : {{ cmd.crepe.crepe_nut }} <br>
    {% endif %}
    {% if cmd.crepe.crepe_con > 0 %}
        Nombre de crêpes à la confiture: {{ cmd.crepe.crepe_con }} <br>
    {% endif %}
    {% if cmd.crepe.crepe_con > 0 %}
        Nombre de crêpes à la confiture: {{ cmd.crepe.crepe_con }} <br>
    {% endif %}
    {% if cmd.crepe.crepe_nat > 0 %}
        Nombre de crêpes nature: {{ cmd.crepe.crepe_nat }} <br>
    {% endif %}
{% endblock %}