{% extends 'refresh/suivi.html' %}

{% block data %}
    {% if cmd.status.name == 'ENVOYE' %}
        Ta commande doit être payé:<br>
        Paiement par pumkin au numéro :
        <input type="text" value="0695665526" id="numPay" disabled><button onclick="copyNumPay()">Copier</button><br>
        Le prix de ta commande :
        <input type="text" value="{{ cmd.prix }}" id="prix" disabled><button onclick="copyPrix()">Copier</button><br>
        En commentaire mettre l'identifiant de la commande :
        <input type="text" value="{{ cmd.cmd_id }}" id="cmdId" disabled><button onclick="copyCmdId()">Copier</button> <br><br><br><br>
    {% endif %}
                    <label for="commande">Vous avez commandé:</label>
                    <textarea class="form-control" id="commande" name="commande" maxlength="1000" rows="2" disabled>{{ cmd.fastfood.fastfood_commande }}</textarea>
                    Prix : {{ cmd.prix }}<br>
{% endblock %}