    {% for cmd in cmds %}
            <tr id="main-info-{{ cmd.cmd_id }}" class="main-info">
                <input type="hidden" class="time" value="{{ cmd.cmd_date.time() }}">
                <th class="cmd-id" scope="row">{{ cmd.cmd_id }}</th>
                <td>{{ cmd.id_fb }}</td>
                <td class="status">{{ cmd.status.name }}</td>
                <td>{{ cmd.cmd_date.time().strftime("%Hh%M") }}</td>
            </tr>
            {% if cmd.com != '' %}
            <tr>
                <th>com:</th>
                <th colspan="3">{{ cmd.com }}</th>
            </tr>
            {% endif %}
            <tr>
                <th>Départ :</th>
                <th>{{ cmd.covoit.covoit_depart }}</th>
                <th>Arrivée :</th>
                <th>{{ cmd.covoit.covoit_destination }}</th>
            </tr>
            <tr>
                <th colspan="2">Heure du rdv :</th>
                <th colspan="2">{{ cmd.covoit.covoit_heure }}</th>
            </tr>
            <tr>
                <th id="{{ cmd.cmd_id }}" colspan="4">
                    <button class="btn btn-status" onclick="updateStatus(this, 'VALIDE')">Validé</button>
                    <button class="btn btn-status" onclick="updateStatus(this, 'LIVRE')">Livré (Fini)</button>
                </th>
            </tr>
            <tr>
                <th colspan="4"></th>
            </tr>
    {% else %}
            <tr>
                <th colspan="4">Il n'y a pas de commande pour ce allo !</th>
            </tr>
    {% endfor %}