<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Le Gaesite - {% block pagename %}Acceuil{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    {% block head %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="//netdna.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% endblock %}
    </head>

    <body class="w3-light-green">
    {% block nav %}
        <!-- Navbar -->
        <div class="w3-top">
            <div class="w3-bar w3-green w3-card">
                <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
                <a href="{{ url_for('accueil') }}" class="w3-bar-item w3-button w3-padding-large">ACCUEIL</a>
                <a href="{{ url_for('allos') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">NOS ALLOS</a>
                <a href="{{ url_for('presentation') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">PRESENTATION</a>
                <a href="{{ url_for('mes_commandes') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">MES COMMANDES</a>
            </div>
        </div>

        <!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
        <div id="navDemo" class="w3-bar-block w3-green w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
            <a href="{{ url_for('allos') }}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">NOS ALLOS</a>
            <a href="{{ url_for('presentation') }}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">PRESENTATION</a>
            <a href="{{ url_for('mes_commandes') }}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">MES COMMANDES</a>
        </div>
    {% endblock %}
        <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
        {% block body %}
            <h2 class="w3-wide">LA GAELISTE</h2>
            <p class="w3-opacity"><i>Prend ton kilt, ce sera culte ! </i></p>
            <div class="mySlides w3-display-container w3-center">
                <img src="{{ url_for('static', filename='media/gaelique1.jpeg') }}" style="width: 100%">
                <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
                    <h3>Texte 1</h3>
                    <p><b>Légende 1</b></p>
                </div>
            </div>
            <div class="mySlides w3-display-container w3-center">
                <img src="{{ url_for('static', filename='media/gaelique2.jpeg') }}" style="width: 100%">
                <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
                    <h3>Texte 2</h3>
                    <p><b>Légende 2</b></p>
                </div>
            </div>
            <div class="mySlides w3-display-container w3-center">
                <img src="{{ url_for('static', filename='media/gaelique3.jpeg') }}" style="width: 100%">
                <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
                    <h3>Texte 3</h3>
                    <p><b>Légende 3</b></p>
                </div>
            </div>
            <br>
            <p class="w3-justify"><i>→ English below ←</i></p>

            <p class="w3-justify">Bienvenue sur notre site internet ! Tu y trouveras une présentation de notre liste et de tous nos membres. Mais surtout (sûrement ce qui t’intéresse le plus pour avoir cliqué sur le lien) tu y découvriras nos allôs ! Sélectionne la catégorie d’allôs qui t’intéresse, puis choisis celui que tu désires, renseigne les informations demandées, et hop ! ta commande est en préparation. Que tu sois exté ou inté, il n’y a rien de plus simple alors n’hésite pas à passer par nous, toute la gaeliste sera là pour toi.</p>

            <p class="w3-justify">Maintenant qui sommes-nous ?<br>
            Après un long périple à travers les plus grandes plaines et forêts gaeliques, les représentant·e·s celtiques les plus fidèles débarquent à la Meuh pour vous initier à leurs  incroyables traditions. Au travers de leurs allôs, leur afterwork et leurs activités, vous découvrirez 28 emayen·ne·s prêt·e·s à vous accueillir chaleureusement tout au long de la semaine muni·e·s de leur plus beau kilt, béret et chemise blanche.<br>
            Avec leurs cornemuses et leurs magnifiques chants celtes, ils feront danser et  vibrer toute la Meuh.<br>
            Laissez-vous entraîner et rejoignez l’incroyable ambiance de la Gaeliste.<br>
            Prend ton kilt, ce sera culte !<br>
            🍀La Gaeliste 🍀
            </p>
            <br><br>
            <p class="w3-justify">
            Welcome to our website ! You will find here a presentation of our liste and all its members. But most importantly (and it is surely what led you to click on this link), you will find out about our allôs ! You just have to select the category of allôs you’re interested in, then choose the one you desire, fill in the required information, and there you go ! your order is in preparation. Whether you live in la Meuh or not, there’s nothing simpler so don’t hesitate to ask us anything, the whole Gaeliste will be there for you.<br>
            </p>
            <p class="w3-justify">
            Now, who are we ?<br>
            After a long journey across the greatest Gaelic plains and forests, the most faithful Celtic representatives are disembarking at la Meuh to initiate you all to their amazing traditions. Throughout their allôs, their afterwork, and their activities, you will discover 28 Emayans ready to warmly welcome you during the coming week in their best kilt, beret, and white shirt. With their bagpipes and their wonderful celtic songs, they will make all the Meuh dance and vibrate.<br>
            Let yourself be carried away and join the incredible atmosphere of the Gaeliste.<br>
            Take your kilt, it will be cult!<br>
            🍀The Gaeliste🍀<br>
            </p>
            </div>
        {% endblock %}
        </div>

    {% block script %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% endblock %}

    </body>
</html>
