{% extends 'base.html' %}

{% block body %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Facebook <br> n° tel</th>
                <th scope="col">Adresse</th>
                <th scope="col">Status</th>
                <th scope="col">Heure</th>
            </tr>
        </thead>
        <tbody id="updContent">
    {% for cmd in cmds %}
            <tr id="main-info-{{ cmd.cmd_id }}" class="main-info">
                <input type="hidden" class="time" value="{{ cmd.cmd_date.time() }}">
                <th class="cmd-id" scope="row">{{ cmd.cmd_id }}</th>
                <td>{{ cmd.id_fb }}</td>
                {% if cmd.lieu.name == 'MEUH' %}
                <td>{{ cmd.appart }}</td>
                {% else %}
                <td>{{ cmd.adress }}</td>
                {% endif %}
                <td class="status">{{ cmd.status.name }}</td>
                <td>{{ cmd.cmd_date.time().strftime("%d - %Hh%M") }}</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">{{ cmd.allo.allo_nom }}</td>
                <td colspan="2">Prix : {{ cmd.prix }}</td>
            </tr>
            {% if cmd.allo.allo_id == 3 %}
            <tr>
                <td colspan="5">
                    <textarea class="form-control" id="commande" name="commande" maxlength="1000" rows="2" disabled>{{ cmd.fastfood.fastfood_commande }}</textarea>
                </td>
            </tr>
            {% endif %}
            {% if cmd.com != '' %}
            <tr>
                <th>com:</th>
                <th colspan="4">{{ cmd.com }}</th>
            </tr>
            {% endif %}
            <tr>
                <th id="{{ cmd.cmd_id }}" colspan="5">
                    <button class="btn btn-status" onclick="updateStatus(this, 'PAYE')">Payé</button>
                </th>
            </tr>
            <tr>
                <th colspan="5"></th>
            </tr>
    {% else %}
            <tr>
                <th colspan="5">Il n'y a pas de commande en attente de validation !</th>
            </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block script %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/suivi.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/manage.js') }}"></script>
{% endblock %}